<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%=
      render(
        partial: "api/users/user",
        formats: [:json],
        handlers: [:jbuilder],
        locals: { user: current_user }
      ).html_safe
    %>
  <% end %>
</script>

<main id="root"></main>
