body {
  font-family: "Interstate";
  font-weight: 200;
  background-color: rgb(242, 242, 242);
}

.full-width {
  display: block;
  background-color: white;
  min-height: 100vh;
  padding: 0 30px;
  width: 1180px;
  margin: 0 auto;
}

@media (max-width: 1239px) {
  .full-width {
      width: 1020px;
  }
}

@media (max-width: 1079px) {
  .full-width {
    width: 910px;
  }
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  letter-spacing: .02em;
}

.modal-open {
  overflow: hidden;
}

.modal {
  transition: all 500ms ease-in-out;
  opacity: .3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242,242,242,.9);
  overflow-y: auto;
  box-sizing: border-box;
  z-index: -1;
}

.top-filler, .bottom-filler {
  color: transparent;
  width: 100%;
  height: 46px;
  background-color: #333;
}

.bottom-filler {
  background-color: transparent;
}

.show {
  z-index: 1;
  opacity: 1;
}

.cancel-background {
  z-index: 1;
  background-color: transparent;
}

.modal-close-button {
  background: image-url('modal-close-button.svg') center no-repeat;
  position: absolute;
  top: 14px;
  right: 20px;
  width: 20px;
  height: 20px;
  text-indent: 20px;
  border: 0;
  overflow: hidden;
  color: #333;
  z-index: 3;
}

.transparent {
  color: transparent;
}

.transparent-background {
  background-color: transparent;
}

.relative {
  position: relative;
}

.orange-input {
  border-color: #f50 !important;
}

.bc-btn {
  display: inline-block;
  position: relative;
  height: 26px;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: 300;
}

.orange {
  color: orange;
}

.full-width-container {
  margin-left: -30px;
  margin-right: -30px;
}

.allow-scroll {
  display: block;
  height: 800px;
  background-color: white;
}
