.playbar-bg {
  color: transparent;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 48px;
  width: 100vw;
  z-index: 2;
}

.playbar {
  background-color: transparent;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  position: fixed;
  bottom: -1px;
  height: 48px;
  margin: 0 auto;
  width: 1240px;
  flex-shrink: 0;
  z-index: 3;
}

.playbar-control-buttons {
  display: flex;
  height: 100%;
}

.controls {
  width: 24px;
  height: 100%;
  margin: 0 0 0 12px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.playbar-prev {
  background-image: image-url('prev-button.svg');
  background-position: 40% center;
}

.playbar-play {
  background-image: image-url('play-button.svg');
  background-position: 55% center;
}

.playbar-pause {
  background-image: image-url('pause-button.svg');
  background-position: center center;
}

.playbar-next {
  background-image: image-url('next-button.svg');
  background-position: 60% center;
}

.playbar-shuffle {
  background-image: image-url('shuffle-off.svg');
  background-position: center center;
}

.shuffle-toggle {
  background-image: image-url('shuffle-on.svg');
}

.playbar-loop {
  background-image: image-url('loop-none.svg');
  background-position: center center;
}

.loop-one {
  background-image: image-url('loop-one.svg');
}

.loop-all {
  background-image: image-url('loop-all.svg');
}

.playbar-timeline {
  height: 100%;
  position: relative;
  padding: 10px 0;
  margin: 0 10px;
  width: 42%;
  cursor: pointer;
}

@media (max-width: 1239px) {
  .playbar {
    width: 1080px;
  }
  .playbar-timeline {
    width: 33%;
  }
}

@media (max-width: 1079px) {
  .playbar {
    width: 970px;
  }
  .playbar-timeline {
    width: 252px;
  }
}

[class^="playbar-timeline-time-"] {
  font-size: 11px;
  font-family: "Lucida Grande";
  font-weight: 400;
}

.playbar-timeline-time-passed {
  width: 70px;
  color: #f50;
  text-align: right;
}

.progress-background {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: #cecece;
}

.playbar-timeline-time-left {
  margin-right: 13px;
}

.playbar-volume {
  background-image: image-url('volume-button.svg');
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  box-sizing: border-box;
  width: 24px;
  height: 46px;
  padding: 1px 7px 2px;
  margin-right: 11px;
  cursor: pointer;
}

.volume-mute-div {
  position: absolute;
  right: 2px;
  height: 46px;
  width: 24px;
  color: transparent;
}

.mute-toggle {
  background-image: image-url('volume-muted-button.svg');
}

/* ---------------- */

.playbar-song-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 360px;
  height: 48px;
  padding: 0 8px;
}

.playbar-image {
  height: auto;
  margin: auto 0;
}

.playbar-image a {
  color: transparent;
  // background-image: image-url('example-artwork.jpg');
  /* background-position: 50% 50%; */
  background-size: cover;
  display: block;
  width: 30px;
  height: 30px;
  transition: opacity .2s linear;
  opacity: 1;
  margin-right: 10px;
}

.playbar-song-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 250px;
  line-height: 1.5em;
  letter-spacing: 0.001em;
}

.playbar-artist {
  color: #999;
  font-size: 11px;
  line-height: 16px;
  font-family: "Lucida Grande";
  font-weight: 400;
}

.playbar-artist:hover, .playbar-title:hover {
  color: #000;
}

.playbar-title {
  color: #666;
  font-size: 11px;
  line-height: 16px;
  font-family: "Lucida Grande";
  font-weight: 400;
}

.playbar-like {
  margin-left: 7px;
  -webkit-mask-position: 50% 50%;
  background-color: black;
  -webkit-mask-image: image-url('like-button.svg');
  // background-image: image-url('like-button.svg');
  background-size: 16px 16px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.playbar-like.active {
  background-color: #f50;
}

.playback-queue {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

// ---------------------

.playbar-queue-body {
  position: absolute;
  bottom: 54px;
  right: 8px;
  width: 480px;
  transition-property: -webkit-transform,opacity;
  transition-property: transform,opacity;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.66,-.41,1,1);
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  pointer-events: none;
  opacity: 0;
  height: 660px;
  max-height: calc(100vh - 120px);
}

.queue-visible .playbar-queue-body {
  pointer-events: auto;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition-duration: .35s;
  transition-timing-function: cubic-bezier(0,0,0,1.2);
}

.queue {
  height: 100%;
  position: relative;
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.queue-visible .queue {
  pointer-events: auto;
}

.queue-panel {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  padding: 9px 24px;
  height: 64px;
}

.queue-title {
  cursor: pointer;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  line-height: 46px;
  font-size: 16px;
  font-weight: 300;
}

.queue-clear {
  margin-right: 16px;
}

.queue-clear:hover {
  border-color: #ccc;
}

.queue-hide {
  height: 46px;
  background-image: image-url('modal-close-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  transition: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

.queue-scrollable {
  top: 64px;
  left: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
}

.queue-inner-scrollable {
  height: 100%;
  overflow-x: hidden;
  width: 480px;
  padding-right: 30px;
  overflow-y: scroll;
}

.queue-inner-height {
  background-size: 100% 2016px, auto;
  height: 473px;
  background-position: 0px 0px, 0px 0px;
  position: relative;
}

.queue-item-container {
  position: relative;
}

.queue-items-wrapper {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  transition-property: transform,opacity,visibility;
  transition-duration: .3s;
}

.queue-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 480px;
  padding: 0 24px;
  font-size: 12px;
  cursor: pointer;
}

.queue-item:hover {
  background: #f8f8f8;
}

.queue-item-drag-handle {
  border: 0;
  background-image: image-url('drag-handle.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  width: 24px;
  z-index: 3;
  height: 48px;
  margin-left: -24px;
  cursor: move;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  visibility: hidden;
}

.queue-item:not(.m-active):hover .queue-item-drag-handle {
  visibility: visible;
}

.queue-item-artwork {
  transition: opacity .3s;
  position: relative;
  margin-right: 7px;
}

.queue-item-artwork-image {
  height: 32px;
  width: 32px;
  background-image: linear-gradient(135deg,#846170,#8e8485);
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.queue-item.dimmed .queue-item-artwork-image, .queue-item.dimmed .queue-item-details-artist,
.queue-item.dimmed .queue-item-details-title {
  opacity: .5;
}

.queue-item-artwork-play-btn {
  color: transparent;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  border-radius: 50%;
  border-color: #f50;
  height: 24px;
  width: 24px;
  background-color: #f50;
  color: white;
  transition: opacity .1s, visibility .1s;
  background-image: image-url('play.svg');
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 60% 60%;
  position: absolute;
  top: 4px;
  left: 5px;
  z-index: 3;
}

.paused {
  background-image: image-url('pause.svg');
  background-position: 50% 50%;
}

.queue-item:hover .queue-item-artwork-play-btn {
  visibility: visible;
  opacity: 1;
}

.queue-item-artwork-play-btn:hover {
  background-color: #f30;
  border-color: #f30;
}

[class^="queue-item-details"] {
  transition: opacity .3s;
  overflow: hidden;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 300;
}

.queue-item-details-wrapper {
  position: relative;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 340px;
  z-index: 2;
}

.queue-item-details-artist {
  color: #999;
  display: block;
  width: auto;
}

.queue-item-details-title {
  color: #333;
  display: block;
  width: auto;
}

.queue-item-details-artist:hover {
  color: #333;
}

.queue-item-details-title:hover {
  color: #000;
}

.queue-item-details-duration {
  position: absolute;
  right: -5px;
  line-height: 36px;
  color: #999;
  font-size: 12px;
  font-weight: 300;
}

// -------------

.progress-bar {
  height: 1px;
  background-color: #f50;
  transition: width 50ms;
  position: absolute;
  top: 50%;
  // width: 30px;
}
.progress-handle {
  font: 0/0 a;
  position: absolute;
  top: 50%;
  text-shadow: none;
  color: transparent;
  border: 1px solid #f50;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  background-color: #f50;
  box-sizing: border-box;
  margin-top: -4px;
  margin-left: -4px;
  opacity: 0;
  transition: opacity 150ms, left 1800ms;
  left: 0;
  transform: translate(1px, 0);
}

.playbar-timeline:hover .progress-handle, .progress-handle:active {
  opacity: 1;
}
.queue-item-actions {
  display: none;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-width: 52px;
  z-index: 2;
}

.queue-like-btn {
  min-width: 24px;
  height: 24px;
  text-align: left;
  text-indent: -100000px;
}

.queue-item:hover .queue-item-actions {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  transition: opacity .1s,visibility .1s;
  position: absolute;
  left: 11px;
  width: 100%;
  height: 40px;
  padding: 5px;
}

.queue-actions-menu {
  left: -140px;
}

.queue-item:hover .queue-like-btn, .queue-item:hover .queue-more-btn {
  visibility: visible;
}

.queue-like-btn:before, .queue-more-btn:before {
  background-color: black;
  height: 20px;
  width: 20px;
}

.queue-like-btn.active:before {
  background-color: #f50;
}

.more-like-btn:before {
  background-color: black;
  -webkit-mask-image: image-url('like-button.svg');
}

.more-like-btn.active:before {
  background-color: #f50;
}
