.sidebar-right {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  width: 300px;
}

.sidebar-module {
  margin-bottom: 20px;
  transition: all 200ms linear;
}

.sidebar-header {
  color: #999;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
}

.sidebar-header-title, .sidebar-header-refresh {
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
}

.sidebar-header-follower-icon {
  background-size: 25px 25px;
  background-image: image-url('followers-icon.png');
  width: 21px;
  margin-right: 4px;
  height: 21px;
  vertical-align: top;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 24px;
}

.sidebar-header-refresh {
  background: image-url('refresh-icon.png') no-repeat 0 center;
  padding-left: 15px;
  background-size: 13px 13px;
  opacity: .8;
  margin-top: 0;
  line-height: 24px;
  font-size: 14px;
}

.sidebar-content {
  min-height: 210px;
  padding-top: 5px;
}

.sidebar-list {
  display: table;
  width: 100%;
}

.user-suggestion-item {
  padding: 10px 0;
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  min-height: 50px;
  width: 100%
}

.user-suggestion-avatar {
  margin-right: 10px;
  word-wrap: break-word;

  // background-image: image-url(https://i1.sndcdn.com/avatars-000140203855-d7ymj4-t120x120.jpg);
  width: 50px;
  height: 50px;
  opacity: 1;

  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
  border-radius: 50%;
  position: relative;
  background-repeat: no-repeat;
  transition: opacity .2s linear;
  background-size: cover;
}

.user-suggestion-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  width: 100%
}

.user-suggestion-title {
  white-space: nowrap;
  margin: 6px 0 0 0;
  color: #999;
  margin-top: 0;
  width: 100%
}

.user-suggestion-title-link {
  margin-right: -13px;
  padding-right: 16px;
  float: left;
  max-width: 100%;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
  font-weight: 300;
}

.user-suggestion-meta {
  display: flex;
}

.user-suggestion-stats {
  display: flex;
  flex-grow: 1;
}

.user-suggestion-followers {
  margin-right: 5px;
  padding-right: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #999;
  font-size: 11px;
  line-height: 12px;
  font-weight: 300;
}

.user-suggestion-followers:before, .user-suggestion-tracks:before {
  content: "";
  display: inline-block;
  color: transparent;
  width: 16px;
  height: 12px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  background-image: image-url('followers-icon.png');
}

.user-suggestion-followers:before {
  background-size: 20px 20px;
  background-image: image-url('followers-icon.png');
}

.user-suggestion-tracks {
  margin-right: 5px;
  padding-right: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #999;
  font-size: 11px;
  line-height: 12px;
  font-weight: 300;
}

.user-suggestion-tracks:before {
  background-size: 16px 16px;
  background-image: image-url('track-icon.png');
}

.user-suggestion-actions {
  display: flex;
  flex-shrink: 0;
}

.user-suggestion-follow-btn {
  min-width: 25px;
  font-family: "Lucida Grande";
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  height: 22px;
  line-height: 16px;
  font-weight: 300;
}

.user-suggestion-follow-btn:hover {
  border-color: #ccc;
}

.user-suggestion-follow-btn.active {
  color: #f50;
  background-color: white;
  border-color: #f50;
}

.user-suggestion-follow-btn.active {
  border-color: #f50;
}

//

.user-info-stats {
  margin-bottom: 30px;
}

.user-info-stats-table {
  width: 100%;
  margin: -30px 0 14px 0;
  font-size: 14px;
  font-weight: 300;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: grey;
}

.info-stat {
  width: 33.33%;
  text-align: left;
  text-indent: 10px;
  color: #999;
  border-right: 1px solid #f2f2f2;
}

.info-stat:first-child {
  text-indent: 0;
}

.info-stat:last-child {
  border-right: 0px solid #f2f2f2;
}

.info-stat-title {
  margin-top: 0;
  line-height: .9;
  padding: 5px 0 3px;
  font-size: 12px;
}

.info-stat-value {
  font-size: 20px;
  line-height: 1.2;
}

.user-info-stats-description {
  max-width: 230px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.truncated-description-wrapper {
  max-height: 85px;
  overflow: hidden;
  position: relative;
}

.truncated-description {
  margin: 0 0 10px;
  font-family: "Lucida Grande";
  font-size: 12px;
}

.followers-content {
  min-height: 60px;
}

.sidebar-user-avatar-list {
  margin-top: 0;
  padding: 10px 0 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.user-avatar-list-item:not(last-child) {
  margin-right: -8px;
}

.user-avatar-list-item-body {
  height: 100%;
  position: relative;
  word-wrap: break-word;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: 0 0;
  text-align: center;
  position: relative;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-origin: border-box;
  background-size: cover;
  background-position: center center;
}

.floating-user-menu {
  visibility: hidden;
  opacity: 0;
  outline: none;
  width: 150px;
  box-sizing: border-box;
  min-height: 199px;
  position: absolute;
  top: -235px;
  left: -57px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 2px 7px -1px rgba(0,0,0,.4);
  z-index: 4;
}

.user-avatar-list-item:hover .floating-user-menu {
  visibility: visible;
  opacity: 1;
}

.floating-user-content {
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.floating-user-menu-arrow {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  bottom: -5px;
  top: auto;
  left: 50%;
  margin-left: -4px;

  background: #fff;
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
  position: absolute;
  width: 8px;
  height: 8px;
  box-shadow: -1px -1px 1px -1px rgba(0,0,0,.5);
  z-index: -1;
}

.floating-user-content-avatar {
  display: block;
  width: 80px;
  height: 80px;
  margin: 5px auto 15px;
  border-radius: 50%;
  background: 0 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: opacity .2s linear;
  text-align: center;
  position: relative;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
  background-repeat: no-repeat;
}

.floating-user-content-description {
  font-size: 14px;
  color: #333;
  font-weight: 300;
  line-height: 19.6px;
}

.floating-user-content-stats {
  margin-bottom: 4px;
  font-size: 11px;
  line-height: 12px;
  color: #999;
  font-weight: 300;
}

.floating-user-content-stats-followers {
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #999;
}

.floating-user-content-stats-followers:before {
  display: inline-block;
  content: ".";
  color: transparent;
  width: 16px;
  height: 12px;
  background-size: 20px 20px;
  background-image: image-url('followers-icon.png');
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
}

.floating-user-content-location {
  font-size: 12px;
  font-family: "Lucida Grande";
  color: #999;
  margin: 0 0 10px;
  line-height: 1.3;
}

.floating-user-content-follow-btn {
  min-width: 25px;
  font-family: "Lucida Grande";
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  height: 22px;
  line-height: 16px;
}

.floating-user-content-follow-btn.active {
  color: #f50;
  background-color: white;
}

.floating-user-content-follow-btn.active:hover {
  border-color: #f50;
}
